filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/nginx/access.log

filebeat.config:
  modules:
    path: ${path.config}/modules.d/*.yml
    reload.enabled: false

processors:
  - add_cloud_metadata: ~
  - add_docker_metadata: ~

cloud.id: {{ cloud_id }}
output.elasticsearch:
  api_key: {{ api_key }}
